.CurrentTemperature{
    color: white;
    font-family: 'Inter';
    display:flex;
    justify-content: space-between;
}

.cityName{
    margin-top: 10%;
    margin-left: 0%;
    
}
.date {
    margin-left:6%;
    
}

.summary {
    margin-left:6%; 
}
.realtimeTemperature {
    text-emphasis-style: bold;
    font-weight: bold;
    font-size:500%;
}

.leftSideReadings{
    margin-top: 10%;
    margin-left: 6%;
}
.rightSideReadings{
    margin-top: 10%;
    
    margin-right: 6%;
}

.weatherIcon {
    max-width:100px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 2px;
}