
.BackgroundImage { 
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('./images/background-image.jpg');
    background-size:cover;
}

.loading-screen{
  color: white;
}
#topline {
  background-color:white;
  margin: 0%;
  width:86%;
  margin: 0 auto;

}
#bottomline{
  background-color:white;
  margin: 0%;
  width:86%;
 
  margin: 0 auto;
  margin-top:6%
}